body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header {
  background-color: #E53F3F;
  color: white;
  padding: 20px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  padding: 0;
  font-size: 28px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: white; 
  text-decoration: none; 
}

.auth-links {
  display: flex;
  gap: 10px;
  align-items: center;
}

.auth-links a {
  color: white;
  text-decoration: none;
}


.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #ddd;
  object-fit: cover;
}

.user-avatar:hover {
  border-color: #e63946;
}

nav ul li a,
.auth-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover,
nav ul li a:focus,
nav ul li a:active,
.auth-links a:hover,
.auth-links a:focus,
.auth-links a:active {
  color: white;
  text-decoration: none;
  outline: none; /* Desactiva el contorno azul en navegadores que lo muestran */
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrar el contenido horizontalmente */
  text-align: center; /* Centrar el texto */
}

.user-info img {
  margin-bottom: 10px; /* Espacio entre la imagen y el texto */
}

.user-info p {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  justify-content: center;
}