* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.main-section {
    padding: 40px 20px;
    background-color: #F9F9F9;
    text-align: center;
    display: flex;
}

.main-section h2 {
    color: #E53F3F;
    font-size: 24px;
    margin-bottom: 20px;
}

.main-section p {
    font-size: 18px;
    margin-bottom: 30px;
    text-align: justify;
    margin: 10px;
    
}

.donate-now {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.donate-now img {
    width: 50px;
}

.container {
    width: 60%; 
}

.additional-content {
    width: 40%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.additional-content img {
    max-width: 100%; 
    height: auto;
}

.donate-button {
    background-color: #E53F3F;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    
}

.donate-button:hover {
    color: white; 
    text-decoration: none; 
}


.combined-section {
    display: flex; 
    padding: 40px 20px;
    background-color: #F9F9F9;
    text-align: left;
}

.facts-content {
    width: 40%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.facts-content .container p {
    text-align: justify; 
}

.campaigns-content {
    width: 60%; 
    display: flex;
    justify-content: center; 
    align-items: center;
}

.combined-section h3 {
    color: #E53F3F;
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
}

.campaign {
    border: 1px solid #E53F3F;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
}

.campaign p {
    font-size: 16px;

}

.campaign strong {
    color: #E53F3F;
}

p {
    color: black;
}